{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link rel="stylesheet" type="text/css" href="static/form.css">
    <link rel="stylesheet" type="text/css" href="static/card.css">

    {{template "scripts" .}}

</head>
<body>

<nav class="main-menu">
        <ul>
            <li>
                <a href="index">YaBackup</a>
            </li>
            <li>
                <a href="start_upload">Upload</a>
            </li>
            <li>
                <a href="get_token">Get new token</a>
            </li>
            <li>
                <a href="download/ybg.log">Download log</a>
            </li>
        </ul>
</nav>
<div class="clear"></div>

{{range .AlertMessages}}
<div class="alert">{{ .Message }}</div>
{{end}}

<div class="container">
    {{template "title" .}}
    {{template "main" .}}
</div>
</body>

<!--{% block button_scripts %} {% endblock %}-->
{{template "bottom_scripts" .}}
</html>
{{ end }}