{{template "base" .}}
{{define "title"}}<h1>Backups</h1>{{end}}
{{define "scripts"}}{{end}}

{{define "main"}}

{{range .BFiles}}
<div class="card">
    <div class="container">
        <h3>{{ .BackupName }}</h3>
        <h4>{{ .GeneralInfo.Modified.Convert2String }}</h4>
        <h5>{{ .GeneralInfo.Size.Convert2MbString }} MB</h5>
        <div class="icons">
            {{if .IsLocal}}
            <img class="icon database">
            {{else}}
            <img class="icon database hidden">
            {{end}}
            {{if .IsRemote}}
            <img class="icon cloud">
            {{else}}
            <img class="icon cloud hidden">
            {{end}}
        </div>
    </div>
</div>
{{end}}

{{end}}

{{define "bottom_scripts"}}{{end}}
