{{template "base" .}}
{{define "title"}}<h1>Backups</h1>{{end}}
{{define "scripts"}}
<!-- Модальное окно окнчания операции-->
<div class="modal fade" id="completionModal" tabindex="-1" aria-labelledby="completionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="completionModalLabel">Операция закончена</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>-->
<!--            </div>-->
            <div class="modal-body" id="completionMessage">
                <!-- Динамический текст будет вставлен сюда -->
            </div>
            <div class="modal-footer">
                <button id="completionModalOkButton" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="backupName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <input type="text" id="remoteFileName" value="" hidden>
                <input type="text" id="backupSlug" value="" hidden>
                <div class="row">
                    <div class="col-md-6">
                        <p><img class="icon backuptype me-2"><span id="backupType"></span></p>
                    </div>
                    <div id="coreVersionSection" class="col-md-6" style="display: none;">
                        <p>
                            <img class="icon ha me-2">HA: v<span
                                id="coreVersion"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p><img class="icon filesize me-2"><span id="backupSize"></span> Mb</p>
                    </div>
                    <div id="protectedSection" class="col-md-6" style="display: none;">
                        <p>
                            <img class="icon protected me-2">protected <span
                                id="fileProtected"></span></p>
                    </div>
                    <div id="backupCreatedSection" class="col-md-6" style="display: none;">
                        <p>
                            <img class="icon clock me-2">Created: <span
                                id="backupCreated"></span></p>
                    </div>
                    <div id="backupUploadedSection" class="col-md-6" style="display: none;">
                        <p>
                            <img class="icon clock_out me-2">Uploaded: <span
                                id="backupUploaded"></span></p>
                    </div>
                </div>

                <div class="my-3">
                    <h6>Present in:</h6>
                </div>

                <div class="container px-2">
                    <div id="presentInHA" class="row" style="display: none;">
                        <div class="col-12 my-2">
                            <div class="row">
                                <div class="col-md-12 p-4 border border-secondary border-2 rounded-1">
                                    <div id="presentInLocal" class="row" style="display: none;">
                                        <div class="col-md-4">
                                                <img class="icon database"> Local
                                        </div>
                                    </div>
                                    <div id="presentInNetwork" class="row" style="display: none;">
                                        <div class="col-md-12">
                                                <img class="icon nas"> NAS

                                                <span id="backupLocation"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-8">
                                            <button id="LocalDeleteMainButton" class="btn btn-danger" onclick="confirmOperation('LocalDeleteMainButton', 'LocalDeleteYesButton', 'LocalDeleteNoButton')">Delete</button>
                                            <button id="LocalDeleteYesButton" class="btn btn-success" style="display:none;">Yes</button>
                                            <button id="LocalDeleteNoButton" class="btn btn-secondary" style="display:none;" onclick="cancelOperation('LocalDeleteMainButton', 'LocalDeleteYesButton', 'LocalDeleteNoButton')">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="presentInCloud" class="row" style="display: none;">
                        <div class="col-12 my-2">
                            <div class="row">
                                <div class="col-md-12 p-4 border border-secondary border-2 rounded-1">
                                    <div class="row">
                                        <div class="col-md-4">
                                                <img class="icon cloud"> Yandex Disk
                                        </div>
                                        <div class="col-md-8">
                                            <button id="YdDeleteMainButton" class="btn btn-danger" onclick="confirmOperation('YdDeleteMainButton', 'YdDeleteYesButton', 'YdDeleteNoButton')">Delete</button>
                                            <button id="YdDeleteYesButton" class="btn btn-success" style="display:none;">Yes</button>
                                            <button id="YdDeleteNoButton" class="btn btn-secondary" style="display:none;" onclick="cancelOperation('YdDeleteMainButton', 'YdDeleteYesButton', 'YdDeleteNoButton')">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="uploadToLocal" class="row" style="display: none;">
                        <div class="col-12 my-2">
                            <div class="row">
                                <div class="col-md-12 p-4 border border-secondary border-2 rounded-1">
                                    <div class="row">
                                        <div class="col-md-4">
                                                Upload to local storage
                                        </div>
                                        <div class="col-md-8">
                                                <button id="homeLoadToHaMainButton" class="btn btn-danger" onclick="confirmOperation('homeLoadToHaMainButton', 'homeLoadToHaYesButton', 'homeLoadToHaNoButton')">Upload to local storage</button>
                                                <button id="homeLoadToHaYesButton" class="btn btn-success" style="display:none;">Yes</button>
                                                <button id="homeLoadToHaNoButton" class="btn btn-secondary" style="display:none;" onclick="cancelOperation('homeLoadToHaMainButton', 'homeLoadToHaYesButton', 'homeLoadToHaNoButton')">No
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="progress" class="row">
                    </div>
                </div>



                <div class="my-3">
                  <h6>Contains:</h6>
                </div>

                <div id="folders" class="row">
                </div>

                <div id="errorMessage" class="text-danger" style="display:none;">Ошибка удаления</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{{end}}

{{define "main"}}

{{range .BFiles}}

<div class="card p-3 backup-card" data-bs-toggle="modal" data-bs-target="#exampleModal"

     data-backupslug="{{ .BackupSlug }}"
     data-backupname="{{ .BackupName }}"
     data-remotefilename="{{ .RemoteFileName }}"
     data-location="{{ .Location }}"
     data-backuptype=
{{if eq .BackupArchInfo.BackupType "full"}}
"Full backup"
{{else}}
"Partial backup"
{{end}}

data-backupsize = {{ .GeneralInfo.Size.Convert2MbString }}

data-createdtime = {{ .BackupArchInfo.BackupCreated.Convert2String }}
data-isShowCreatedTime =
{{if .BackupArchInfo.BackupCreated.IsZero }}
0
{{else}}
1
{{end}}
data-uploadedTime = {{ .Downloaded.Convert2String }}
data-isShowUploadedTime =
{{if or (.Downloaded.IsZero) (not .IsRemote) }}
0
{{else}}
1
{{end}}

data-addons = '[
{{range .BackupArchInfo.Addons}}
{"name":"{{.Name}}", "version": "{{.Version}}", "slug": "{{.Slug}}", "isHidden":0 },
{{end}}
{"name":"test", "version":"test", "slug":"test", "isHidden":1}
]'

data-folders = '[
{{range .BackupArchInfo.Folders}}
{"name":"{{.}}", "isHidden":0},
{{end}}
{"name":"test",  "isHidden":1}
]'

data-core =
{{if or (not .BackupArchInfo.CoreInfo) (eq .BackupArchInfo.CoreInfo.Version "") (eq .BackupArchInfo.CoreInfo.Version "???") }}
'{"version":"???", "isHidden":1}'
{{else}}
'{"version":"{{.BackupArchInfo.CoreInfo.Version}}", "isHidden":0}'
{{end}}

data-isProtected =
{{if .IsProtected }}
1
{{else}}
0
{{end}}

data-isRemote =
{{if .IsRemote }}
1
{{else}}
0
{{end}}

data-isLocal =
{{if .IsLocal }}
1
{{else}}
0
{{end}}

data-isNetwork =
{{if .IsNetwork }}
1
{{else}}
0
{{end}}
>


<h4 class="card-title pb-2">{{ .BackupName }}</h4>
<h5 class="card-subtitle">{{ .GeneralInfo.Created.Convert2String }}</h5>
<p class="card-text">{{ .GeneralInfo.Size.Convert2MbString }} MB</p>

<div id="op_progress{{ .RemoteFileName }}" class="text" > </div>
<div class="d-flex justify-content-start">
    {{if .IsLocal}}
    <img class="icon database">
    {{else}}
    <img class="icon database hidden">
    {{end}}
    {{if .IsNetwork}}
    <img class="icon nas">
    {{else}}
    <img class="icon nas hidden">
    {{end}}
    {{if .IsRemote}}
    <img class="icon cloud">
    {{else}}
    <img class="icon cloud hidden">
    {{end}}
</div>
</div>

{{end}}

{{end}}

{{define "bottom_scripts"}}
<script>

    const addonIcons = new Map([
    {{ range $key, $value := .AddonIcons }}
      ['{{ $key }}', '{{ $value }}'],
    {{ end }}
    ]);

    // Получаем данные константные для всей страницы
    const isDarkMode = {{.IsDarkTheme}}
    const haFolder = "homeassistant"

    let currentBackupSlug;

    document.querySelectorAll('.backup-card').forEach(card => {
        card.addEventListener('click', function () {



            // Получаем данные из атрибутов карточки
            const backupSlug = this.getAttribute('data-backupslug');
            const backupName = this.getAttribute('data-backupname');
            const remoteFileName = this.getAttribute('data-remotefilename');
            const backupLocation = this.getAttribute('data-location');
            const backupType = this.getAttribute('data-backuptype');
            const backupSize = this.getAttribute('data-backupsize');
            const createdTime = this.getAttribute('data-createdtime');
            const isShowProtected = this.getAttribute('data-isProtected');
            const isShowCreatedTime = this.getAttribute('data-isShowCreatedTime');
            const uploadedTime = this.getAttribute('data-uploadedTime');
            const isShowUploadedTime = this.getAttribute('data-isShowUploadedTime');

            const isLocal = this.getAttribute('data-isLocal');
            const isNetwork = this.getAttribute('data-isNetwork');
            const isRemote = this.getAttribute('data-isRemote');

            const addonsData = JSON.parse(this.getAttribute('data-addons'));
            const foldersData = JSON.parse(this.getAttribute('data-folders'));
            const coreData = JSON.parse(this.getAttribute('data-core'));

            document.getElementById('backupName').innerText = backupName;
            document.getElementById('remoteFileName').innerText = remoteFileName;
            document.getElementById('backupSlug').innerText = backupSlug;
            document.getElementById('backupType').innerText = backupType;
            document.getElementById('backupSize').innerText = backupSize;
            document.getElementById('backupCreated').innerText = createdTime;
            document.getElementById('backupUploaded').innerText = uploadedTime;
            document.getElementById('backupLocation').innerText = backupLocation;
            document.getElementById('coreVersion').innerText = coreData.version;
            document.getElementById('errorMessage').style.display = 'none';


            if (coreData.isHidden == 0) {
                document.getElementById('coreVersionSection').style.display = 'block';
            } else {
                document.getElementById('coreVersionSection').style.display = 'none';
            }

           if (isShowProtected == 1) {
                document.getElementById('protectedSection').style.display = 'block';
            } else {
                document.getElementById('protectedSection').style.display = 'none';
            }

           if (isShowCreatedTime == 1) {
                document.getElementById('backupCreatedSection').style.display = 'block';
            } else {
                document.getElementById('backupCreatedSection').style.display = 'none';
            }

            if (isShowUploadedTime == 1) {
                document.getElementById('backupUploadedSection').style.display = 'block';
            } else {
                document.getElementById('backupUploadedSection').style.display = 'none';
            }

            if (isLocal == 1 || isNetwork == 1) {
                document.getElementById('presentInHA').style.display = 'block';
            } else {
                document.getElementById('presentInHA').style.display = 'none';
            }

            if (isLocal == 1) {
                document.getElementById('presentInLocal').style.display = 'block';
            } else {
                document.getElementById('presentInLocal').style.display = 'none';
            }

            if (isNetwork == 1) {
                document.getElementById('presentInNetwork').style.display = 'block';
            } else {
                document.getElementById('presentInNetwork').style.display = 'none';
            }


            if (isRemote == 1) {
                document.getElementById('presentInCloud').style.display = 'block';
            } else {
                document.getElementById('presentInCloud').style.display = 'none';
            }
            if (isRemote == 1 && isLocal == 0) {
                document.getElementById('uploadToLocal').style.display = 'block';
            } else {
                document.getElementById('uploadToLocal').style.display = 'none';
            }

            const progressContainer = document.getElementById('progress');
            progressContainer.innerHTML = ''; // Очищаем предыдущие данные
            const progressCol = document.createElement('div');
            progressCol.className = 'col-md-12';
            progressCol.innerHTML = `
               <div id="op_modal_progress` + remoteFileName +`" class="text" > </div>
            `;
            progressContainer.appendChild(progressCol);

            const foldersContainer = document.getElementById('folders');
            foldersContainer.innerHTML = ''; // Очищаем предыдущие данные

                if (coreData.isHidden == 0) {
                    const coreCol = document.createElement('div');
                    coreCol.className = 'col-md-6 addon';
                    coreCol.innerHTML = `
                            <div class="row">
                              <div class="col-md-4"> <img class="icon me-2 float-end" src=${getFolderIcon(haFolder)}> </div>
                              <div class="col-md-8">
                                <div class="row">
                                   <div class="col-md-12">
                                        ${getFolderName(haFolder)}
                                   </div>
                                   <div class="col-md-12">
                                        v${coreData.version}
                                   </div>
                                </div>
                              </div>
                            </div>
                `;
                    foldersContainer.appendChild(coreCol);
                }


            foldersData.forEach(folder => {
                if (folder.isHidden == 0) {
                    const folderCol = document.createElement('div');
                    folderCol.className = 'col-md-6 addon';
                    folderCol.innerHTML = `
                            <div class="row">
                              <div class="col-md-4"> <img class="icon me-2 float-end" src=${getFolderIcon(folder.name)}> </div>
                              <div class="col-md-8">
                                <div class="row">
                                   <div class="col-md-12">
                                        ${getFolderName(folder.name)}
                                   </div>
                                   <div class="col-md-12">
                                        &nbsp;
                                   </div>
                                </div>
                              </div>
                            </div>
                `;
                    foldersContainer.appendChild(folderCol);
                }
            });

            addonsData.forEach(addon => {
                if (addon.isHidden == 0) {
                    const residentCol = document.createElement('div');
                    residentCol.className = 'col-md-6 addon';
                    residentCol.innerHTML = `
                            <div class="row">
                              <div class="col-md-4"> <img class="icon me-2 float-end" src=${getAppIcon(addon.slug)}> </div>
                              <div class="col-md-8">
                                <div class="row">
                                   <div class="col-md-12">
                                        ${addon.name}
                                   </div>
                                   <div class="col-md-12">
                                        v${addon.version}
                                   </div>
                                </div>
                              </div>
                            </div>
                `;
                    foldersContainer.appendChild(residentCol);
                }
            });

            currentBackupSlug = backupSlug;
        })
    });

    var myModal = document.getElementById('exampleModal');
    myModal.addEventListener('shown.bs.modal', function () {
        document.getElementById('errorMessage').style.display = 'none';
        initialButtons('homeLoadToHa')
        initialButtons('YdDelete')
    });
    myModal.addEventListener('hidden.bs.modal', function () {
        document.getElementById('errorMessage').style.display = 'none';
        initialButtons('homeLoadToHa')
        initialButtons('YdDelete')
    });

    function initialButtons(prefix) {
        document.getElementById(prefix + 'MainButton').disabled = false;
        document.getElementById(prefix + 'YesButton').style.display = 'none';
        document.getElementById(prefix + 'NoButton').style.display = 'none';
    }

    function confirmOperation(mainButton, yesButton, noButton) {
        document.getElementById(mainButton).disabled = true;
        document.getElementById(yesButton).style.display = 'inline-block';
        document.getElementById(noButton).style.display = 'inline-block';
    }

    function cancelOperation(mainButton, yesButton, noButton) {
        document.getElementById(mainButton).disabled = false;
        document.getElementById(yesButton).style.display = 'none';
        document.getElementById(noButton).style.display = 'none';
    }

    function hideYesNoButtons(prefix) {
        document.getElementById(prefix + 'YesButton').style.display = 'none';
        document.getElementById(prefix + 'NoButton').style.display = 'none';
    }

    function deleteCard() {
        // Выполняем REST-запрос (имитация)
        fetch('/delete/card', {method: 'DELETE'})
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка удаления');
                }
                // Успешное удаление
                const modal = bootstrap.Modal.getInstance(document.getElementById('exampleModal'));
                modal.hide();
                alert('Квартира удалена');
            })
            .catch(error => {
                document.getElementById('errorMessage').style.display = 'block';
                document.getElementById('deleteButton').disabled = false;
                document.getElementById('yesButton').style.display = 'none';
                document.getElementById('noButton').style.display = 'none';
            });
    }

    document.getElementById('homeLoadToHaYesButton').addEventListener('click', function() {
        const fileName = document.getElementById('remoteFileName').innerText;
        hideYesNoButtons('homeLoadToHa')
        updateTextByPrefix('op_modal_progress', 'start upload 0%')
        loadToHa(fileName, fileName);
    });
    document.getElementById('YdDeleteYesButton').addEventListener('click', function() {
        const fileName = document.getElementById('remoteFileName').innerText;
        hideYesNoButtons('YdDelete')
        updateTextByPrefix('op_modal_progress', 'start delete from YD 0%')
        deleteFromYd(fileName, fileName);
    });
    document.getElementById('LocalDeleteYesButton').addEventListener('click', function() {
        const backupSlug = document.getElementById('backupSlug').innerText;
        const fileName = document.getElementById('remoteFileName').innerText;
        hideYesNoButtons('LocalDelete')
        updateTextByPrefix('op_modal_progress', 'start delete from local 0%')
        deleteFromLocal(backupSlug, fileName);
    });

    function hideModal(modalId) {
        const modal = bootstrap.Modal.getInstance(document.getElementById(modalId));
        modal.hide();
    }

    function deleteFromYd(fileName, operationId) {
        const absoluteUrl = getAbsoluteUrl('delete-from-yd/' + fileName);
        fetch(absoluteUrl, {method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'yba-operation-id': operationId
            }
        })
            .then(response => {
                if (!response.ok) {
                    const currentPath = window.location.pathname
                    console.log("response " + response.status)
                    throw new Error('Delete from YD with error ' + currentPath + ' ' + absoluteUrl + ' ' + response.status + ' ' + response.text() );
                }
                // Успешное удаление
                hideModal('exampleModal')
                showCompletionModal('File deleted from YD');
                // alert('File loaded');
            })
            .catch(error => {
                console.log("error " + error)
                const errorDiv = document.getElementById('errorMessage');
                if (errorDiv) {
                    errorDiv.textContent = error.message; // Устанавливаем текст ошибки
                    errorDiv.style.display = 'block'; // Отображаем блок с ошибкой
                }
                initialButtons('YdDelete')
                hideModal('exampleModal')
                showCompletionModal('Error when delete file from YD');
            });
    }

    function deleteFromLocal(backupSlug, operationId) {
        const absoluteUrl = getAbsoluteUrl('delete-from-ha/' + backupSlug);
        fetch(absoluteUrl, {method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'yba-operation-id': operationId
            }
        })
            .then(response => {
                if (!response.ok) {
                    const currentPath = window.location.pathname
                    console.log("response " + response.status)
                    throw new Error('Delete from HA with error ' + currentPath + ' ' + absoluteUrl + ' ' + response.status + ' ' + response.text() );
                }
                // Успешное удаление
                hideModal('exampleModal')
                showCompletionModal('File deleted from local');
                // alert('File loaded');
            })
            .catch(error => {
                console.log("error " + error)
                const errorDiv = document.getElementById('errorMessage');
                if (errorDiv) {
                    errorDiv.textContent = error.message; // Устанавливаем текст ошибки
                    errorDiv.style.display = 'block'; // Отображаем блок с ошибкой
                }
                initialButtons('LocalDelete')
                hideModal('exampleModal')
                showCompletionModal('Error when delete file from local');
            });
    }

    function loadToHa(fileName, operationId) {
        // Выполняем REST-запрос
        const absoluteUrl = getAbsoluteUrl('load-to-ha/' + fileName);

        fetch(absoluteUrl, {method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                 'yba-operation-id': operationId
            }
        })
            .then(response => {
                if (!response.ok) {
                    const currentPath = window.location.pathname;

                    throw new Error('Load with error ' + currentPath + ' ' + absoluteUrl + ' ' + response.status + ' ' + response.text() );
                }
                // Успешная загрузка
                hideModal('exampleModal')
                showCompletionModal('File uploaded to HA');
                // alert('File loaded');
            })
            .catch(error => {
                const errorDiv = document.getElementById('errorMessage');
                if (errorDiv) {
                    errorDiv.textContent = error.message; // Устанавливаем текст ошибки
                    errorDiv.style.display = 'block'; // Отображаем блок с ошибкой
                }
                initialButtons('homeLoadToHa')
                hideModal('exampleModal')
                showCompletionModal('Error when upload file to HA');
            });
    }

    function showCompletionModal(message) {
        const completionModal = new bootstrap.Modal(document.getElementById('completionModal'));
        const messageElement = document.getElementById('completionMessage');
        if (messageElement) {
            messageElement.textContent = message;
        }
        completionModal.show();
    }

    // Обработчик для кнопки OK
    document.getElementById('completionModalOkButton').addEventListener('click', () => {
        window.location.href = getAbsoluteUrl('index'); // Перенаправление на /index
    });

    function getAbsoluteUrl(relativePath) {
        // Получаем базовый URL текущей страницы
        const baseUrl = window.location.origin;
        const currentPath = window.location.pathname;
        // Создаем абсолютный URL
        return new URL(relativePath, baseUrl+currentPath).href;
    }

    function getFolderName(slug) {
        if (slug == "share") {
            return "Share Folder";
        } else if (slug == "ssl") {
            return "SSL Folder";
        } else if (slug == "addons/local") {
            return "Local Add-on Folder";
        } else if (slug == "media") {
            return "Media Folder";
        } else if (slug == "homeassistant") {
            return "HA config";
        }
        return slug;
    }

    function getFolderIcon(slug) {
        var icon = "folder-outline"
        if (slug == "share") {
            icon = "folder-account";
        } else if (slug == "ssl") {
            icon = "folder-key";
        } else if (slug == "addons/local") {
            icon = "folder-pound";
        } else if (slug == "media") {
            icon = "folder-music";
        } else if (slug == "homeassistant") {
            icon = "folder-home";
        }

        if (isDarkMode) {
            icon = icon + "-dark"
        }

        icon = "static/" + icon + ".png"
        return icon;
    }

    function getAppIcon(slug) {
        var icon = "default-app"
        if (isDarkMode) {
            icon = icon + "-dark"
        }
        icon = icon + ".png"

        if (addonIcons.has(slug)) {
            icon = addonIcons.get(slug)
        }

        icon = "static/appicons/" + icon
        return icon;
    }

    function updateTextByPrefix(prefix, newText) {
        const elements = document.querySelectorAll(`[id^="${prefix}"]`);
        elements.forEach(element => {
            element.innerText = newText;
        });
    }

    function updateTextProgressField(entity, prefix) {
        const fieldId = prefix + entity.id; // Формируем идентификатор элемента
        const textField = document.getElementById(fieldId);

        // console.log('FieldId:', fieldId);
        // console.log('IsDone:', entity.is_done);

        if (textField) {
            if (!entity.is_done) {
                // Вставляем текст из полей status и progress
                textField.innerText = `${entity.status} ${entity.progress} %`;
            } else {
                // Очищаем поле, если is_done = true
                textField.innerText = '';
            }
        }
        // else {
        //     console.log('Field "' + fieldId + '" not found');
        // }
    }

    function updateProgressFields() {
        const apiUrl = getAbsoluteUrl('operation/status/all');
        // const apiUrl = 'https://your-api-endpoint.com/entities';

        // Выполняем REST-запрос
        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    // Если ответ не успешный, возвращаем пустой массив
                    return [];
                }
                return response.json();
            })
            .then(data => {
                // Проверяем, является ли data массивом
                if (!Array.isArray(data)) {
                    data = [];
                }

                // Обходим каждую сущность и обновляем соответствующие поля
                data.forEach(entity => {
                    updateTextProgressField(entity, 'op_progress');
                    updateTextProgressField(entity, 'op_modal_progress');
                });
            })
            .catch(error => {
                // Логируем ошибку, но не отображаем её пользователю
                console.log('Fetch operation encountered an error:', error);
            });
    }

    // Вызываем функцию один раз при загрузке страницы
    updateProgressFields();

    // Устанавливаем интервал для периодического вызова функции каждые 30 секунд
    setInterval(updateProgressFields, 10000);
</script>
{{end}}
