.card {
  box-shadow: 0 1px 2px 0 rgba(0,50,100,1);
  transition: 0.3s;
  width: 100%;
  margin: 15px;
  min-width: 230px;
  max-width: 515px;
  border-radius: 5px;
}

.container {
  padding: 2px 16px;
}

.icons{
  position: relative;
}

.icon{
  height: auto;
  width: 40px;
}
.icon.hidden{
  visibility: hidden
}
