<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{{ [ig_path, url_for('static', filename='main.css')]|join }}">
    <link rel="stylesheet" type="text/css" href="{{ [ig_path, url_for('static', filename='card.css')]|join }}">
    <link rel="stylesheet" type="text/css" href="{{ [ig_path, url_for('static', filename='form.css')]|join }}">

    <title>{% block title %} {% endblock %}</title>

    {% block scripts %} {% endblock %}

</head>
<body>
<nav class="main-menu">
    <ul>
        <li>
            <a href="{{ url_for('index_ig', ig_path=ig_path)}}">YaBackup</a>
        </li>
        <li>
            <a href="{{url_for('start_upload_ig', ig_path=ig_path)}}">Upload</a>
        </li>
        <li>
            <a href="{{url_for('get_token_ig', ig_path=ig_path)}}">Get new token</a>
        </li>
        <li>
            <a href="{{url_for('download_log_ig', ig_path=ig_path, filename='flask.log')}}">Download log</a>
        </li>
        <li>
            <a href="{{url_for('download_log_ig', ig_path=ig_path, filename='cron.log')}}">Download cron log</a>
        </li>
    </ul>
</nav>

<div class="clear"></div>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
</div>
</body>

{% block button_scripts %} {% endblock %}

</html>