{% extends 'base.html' %}

{% block content %}
       <h2>Follow this
        <a href="{{ url_check_code }}" target="_blank">
            link
        </a>
        and get check code</h2>
<form method="post">

    <div class="form">
<!--      <div class="title">Welcome</div>-->
<!--      <div class="subtitle">Let's create your account!</div>-->
      <div class="input-container ic1">
        <input id="check_code" name="check_code" class="input" type="text" placeholder=" " value="{{ request.form['check_code'] }}"/>
        <div class="cut"></div>
        <label for="check_code" class="placeholder">Check code</label>
      </div>
      <button type="submit" class="submit">submit</button>
    </div>

</form>
{% endblock %}