<div id="backups" class="s12 row"><div class="backup-ui col s12 m12 l6 xl6 slugdb111517 active-backup">
    <div id="backup_carddb111517" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loadingdb111517" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-20 04:00:00">Full Backup 2023-02-20 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="" style="display: none;">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">151.2 MB</span>
              -
              <span>
                <span id="status">Backed Up</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup has been uploaded to Google Drive.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">22 hours ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="backup-ui col s12 m12 l6 xl6 slug376916c8 active-backup">
    <div id="backup_card376916c8" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loading376916c8" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-19 04:00:00">Full Backup 2023-02-19 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="" style="display: none;">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">157.4 MB</span>
              -
              <span>
                <span id="status">Backed Up</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup has been uploaded to Google Drive.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">2 day ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="backup-ui col s12 m12 l6 xl6 slug392d8bf8 active-backup">
    <div id="backup_card392d8bf8" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loading392d8bf8" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-18 04:00:00">Full Backup 2023-02-18 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="" style="display: none;">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">153.8 MB</span>
              -
              <span>
                <span id="status">Backed Up</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup has been uploaded to Google Drive.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">3 days ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="backup-ui col s12 m12 l6 xl6 slug181a224d active-backup">
    <div id="backup_card181a224d" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loading181a224d" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-17 04:00:00">Full Backup 2023-02-17 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="This backup will be deleted next from Home Assistant when a new backup is created.">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">154.2 MB</span>
              -
              <span>
                <span id="status">Backed Up</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup has been uploaded to Google Drive.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">4 days ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="backup-ui col s12 m12 l6 xl6 slug09542543 active-backup">
    <div id="backup_card09542543" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loading09542543" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-16 04:00:00">Full Backup 2023-02-16 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="" style="display: none;">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">154.0 MB</span>
              -
              <span>
                <span id="status">Drive Only</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup is only in Google Drive. Select &quot;Upload&quot; from the actions menu to Upload it to Home Assistant.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">5 days ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="backup-ui col s12 m12 l6 xl6 slug4c0709a3 active-backup">
    <div id="backup_card4c0709a3" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loading4c0709a3" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-15 04:00:00">Full Backup 2023-02-15 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="" style="display: none;">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">156.4 MB</span>
              -
              <span>
                <span id="status">Drive Only</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup is only in Google Drive. Select &quot;Upload&quot; from the actions menu to Upload it to Home Assistant.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">6 days ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="backup-ui col s12 m12 l6 xl6 slug2ef2883e active-backup">
    <div id="backup_card2ef2883e" onclick="showDetails(this);return false;" class="card" style="cursor: pointer;">
      <div class="snapshot-card">
        <div style="display: flex; align-items: center;">
          <div class="archive-icon">
            <i class="large material-icons backup_icon" style="font-size: 30px;">archive</i>
            <div id="loading2ef2883e" class="progress default-hidden" style="position: absolute; display: none;">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div style="min-width: 0;">
            <h7 id="name" class="truncate" style="font-weight: 600;" title="Full Backup 2023-02-14 04:00:00">Full Backup 2023-02-14 04:00:00</h7>
            <div>
              <i class="material-icons backup-card-icon icon-retain tooltipped danger-text" data-position="bottom" data-tooltip="This backup is kept indefinitely until you delete it." style="display: none;">lock</i>
              <i class="material-icons backup-card-icon icon-warn-delete tooltipped" data-position="bottom" data-tooltip="This backup will be deleted next from Google Drive when a new backup is created.">warning</i>
              <i class="material-icons backup-card-icon icon-protected tooltipped blue-icon" data-position="bottom" data-tooltip="This backup is password protected" style="display: none;">vpn_key</i>
              <i class="material-icons backup-card-icon tooltipped" id="gen_detail" data-position="bottom" data-tooltip="Override" style="display: none;">date_range</i>
              <span id="size">152.7 MB</span>
              -
              <span>
                <span id="status">Drive Only</span>
                <i class="material-icons tooltipped backup-help-icon" id="status-help" data-position="bottom" data-tooltip="This backup is only in Google Drive. Select &quot;Upload&quot; from the actions menu to Upload it to Home Assistant.">help</i>
              </span>
            </div>
            <div id="type">Full backup</div>
            <div id="createdAt">7 days ago</div>
            <div id="note" style="font-style: italic;" class="truncate" data-position="bottom" data-tooltip="">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div></div>